.login-page {
  width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button-container {
  position: absolute;
  top: 40px;
  left: 30px;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.meeting-input {
  width: 230px;
  height: 52px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 12px;
  padding: 0 15px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
}

.description-input {
  width: 150px;
  height: 42px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 12px;
  padding: 0 15px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 42px;
}

.create-button {
  width: 230px;
  height: 52px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting-input::placeholder,
.description-input::placeholder {
  color: #000;
}

.create-button:hover {
  background-color: #d0d0d0;
}
